<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/details">Overview</a></li>
                <li><a href="teamplanner.html">Guilds</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <% if (card) { %>
            <h1><%= card.name %></h1>
            <p>Description: <%= card.description %></p>
            <p>Rating: <%= card.rating %></p>
        <% } else { %>
            <p>Card not found.</p>
        <% } %>
    </main>
</body>
</html>
