<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
        <main>
            <section>
                <article>
                    <form action="">
                        <label for="Name">Name</label>
                        <input type="text">

                        <label for="">Password</label>
                        <input type="password">
                    </form>
                </article>
            </section>
        </main>
        <footer>

        </footer>
    </body>