* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
      "Header"
      "Main"
      "Footer";
  height: 100vh;
  width: 100vw;
  background-color: #d8e1e8;
}

header {
  width: 100%;
  background-color: #36454f;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #17213a;
  text-align: center;
  padding: 1em;
  color: #ffffff;
  font-size: 14px;
  border-top: black solid 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

input {
  border-radius: 4px;
  outline: none;
  border: none;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: none;
  border: none;
  padding: 0 2px 0 2px;
  border-radius: 4px;
}

img {
  width: 200px;
  height: auto;
}

td a {
  text-decoration: none;
  color: black;
}

hr {
  margin-bottom: 5px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5em;
}

thead th {
  background-color: #536878;
  color: white;
}

thead tr {
  border: none;
}

.cell {
  padding: 10px;
}

table, th, td {
  color: black;
  border: 0;
}

tr:nth-child(odd) {
  background-color: #f2f2f2; 
}

tr:nth-child(even) {
  background-color: #708090;
}

tr:nth-child(even) td {
  color: white;
}

tr:nth-child(even) td a {
  color: white;
}

td:nth-child(2) {
  text-align: left;
}

th {
  padding: 0 1em 0 1em;
}

td {
  text-align: center;
}

td:first-child {
  border: 1px solid black;
}

tr {
  border: 1px solid black; 
}

li {
  margin-bottom: 2px;
}

/* card */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 40px auto;
  max-width: 400px;
  background-color: #536872;
  text-align: center;
  color: white;
}

.card p {
  margin-bottom: 3px;
}

.card h1 {
  margin-bottom: 3px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-info {
  font-size: 16px;
}

.guild-info {
  margin-top: 20px;
}

.guild-info ul {
  list-style-type: none;
  padding-left: 0;
}

.guild-info li {
  margin-bottom: 5px;
}

ul {
  list-style: none;
  text-align: left;
}

#edit {
  padding: 1em 3em 1em 3em;
  background-color: #36454f;
  border-radius: 15px;
  color: white;
  margin-top: 1em;
  border: 1px solid white;
  width: 100%;
}

/* form */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  background-color: #536872;
  text-align: center;
  color: white;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

.form-container button {
  background-color: #36454f;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1em 3em;
}

@media (max-width: 768px) {
  .card {
    max-width: 90%;
  }
  .form-container {
    max-width: 90%;
  }
}
