<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%= message %>
    <img src="https://github.com/s117507/WebOntwikkeling_Milestones/blob/main/EJS/Testing/public/assets/burgerking.jpg?raw=true" alt="burgerking">
</body>
</html>