<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="overzicht.html">Overview</a></li>
                <li><a href="teamplanner.html">Guilds</a></li>
            </ul>
        </nav>
        <div>
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
        </div>
    </header>
    <main>
        <table id="cardTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Active</th>
                    <th>Birth Date</th>
                    <th>Type</th>
                    <th>Abilities</th>
                    <th>Artist</th>
                    <th>Affiliation</th>
                </tr>
            </thead>
            <tbody>
                <td><%= cards.id %></td>
            </tbody>
        </table>
    </main>
    
</body>
</html>